@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #00000000;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    color: #fff;
}

@keyframes start {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

body {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    animation: start 0.5s ease-in;
}

.IntroB {
    background-image:url(images/Intro.png);
}

.AboutB {
    background-image:url(images/About.png);
}

.ContactsB {
    background-image:url(images/Contacts.png);
}

.DisclaimerB {
    background-image:url(images/Disclaimer.png);
}


.Intro {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: 100%;
    animation: start 2s ease-in;
    padding-top: 25vh;
    width: 75%;
}

.About {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: 100%;
    animation: start 2s ease-in;
    padding-top: 25vh;
    width: 75%;
}

.Contacts {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: 100%;
    animation: start 2s ease-in;
    padding-top: 25vh;
    width: 50%;
}

.Disclaimer {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: 100%;
    animation: start 2s ease-in;
    padding-top: 25vh;
    width: 75%;
}

h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 32px;
}

p {
    font-size: 16px;
}

li, li a, button{
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    font-size: 10px;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    border: none;
}

header {
    display: flex;
    background-color: rgba(19,19,19, 0.75);
    justify-content: space-between;
    align-items: center;
    padding: 16px 5%;
    box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.5);
}

.Logo {
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 24px;
    cursor: pointer;
    text-decoration: none;
    animation: start 1s ease-in;
}

.Navigation {
    list-style: none;
}

.Navigation li {
    display: inline-block;
    padding: 0px 16px;
}

.Navigation li a {
    animation: start 1s ease-in;
    transition: all 0.3s ease 0s;
    border: none;
}

.Navigation li a:hover {
    transition: all 0.3s ease 0s;
    color: #a3a3a3
}

.Indonesian {
    transition: all 0.3s ease 0s;
    color: #fff;
    padding: 4px 8px 5px;
    border-radius: 24px;
    background: rgb(255, 111, 111)
}
.Indonesian:hover {
    transition: all 0.3s ease 0s;
    color: rgb(255, 111, 111);
    background-color: #fff;
}

.English {
    transition: all 0.3s ease 0s;
    color: #fff;
    padding: 4px 8px 5px;
    border-radius: 24px;
    background: rgb(111, 145, 255)
}

.English:hover {
    transition: all 0.3s ease 0s;
    color: rgb(111, 145, 255);
    background-color: #fff;
}

#AboutP {
    padding: 0 0 16px;
}

.AboutB #AboutN {
    transition: all 0.3s ease 0s;
    color: #a3a3a3;
}

.AboutB #AboutN:hover {
    transition: all 0.3s ease 0s;
    color: #ffffff;
}

#ContactsP {
    padding: 0 0 16px;
}

.ContactsB #ContactsN {
    transition: all 0.3s ease 0s;
    color: #a3a3a3;
}

.ContactsB #ContactsN:hover {
    transition: all 0.3s ease 0s;
    color: #ffffff;
}

.Contacts ul {
    list-style: none;
}

.Contacts ul li:not(:first-child) { 
    margin-top: 24px;  
 }

 .Contacts ul li:first-child {
    margin-top: 12px;  
 }

#Discord, #Github, #Instagram {
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    padding: 8px 16px 10px;
    border-radius: 24px;
    border: none;
}

#Github {
    transition: all 1.25s ease-in-out;
    background-image: linear-gradient(to right, #797979, #5e5e5f, #444547, #2b2d30, #13171a);
    background-size: 100%;
    background-position: center;
}

#Github:hover {
    transition: all 1.25s ease-in-out;
    background-size: 500%;
    background-position: right;
}

#Instagram {
    transition: all 1.25s ease-in-out;
    background-image: linear-gradient(to right, #4b64d9, #8657d0, #b045bf, #d02ca8, #e7058b);
    background-size: 100%;
    background-position: center;
}

#Instagram:hover {
    transition: all 1.25s ease-in-out;
    background-size: 500%;
    background-position: right;
}

#Discord {
    transition: all 1.25s ease-in-out;
    background-image: linear-gradient(to right, #b9bfff, #9ca1ed, #7f85dc, #6268ca, #434db7);
    background-size: 100%;
    background-position: center;
}

#Discord:hover {
    transition: all 1.25s ease-in-out;
    background-size: 500%;
    background-position: right;
}

#DisclaimerP {
    padding: 0 0 16px;
}

.DisclaimerB #DisclaimerN {
    transition: all 0.3s ease 0s;
    color: #a3a3a3;
}

.DisclaimerB #DisclaimerN:hover {
    transition: all 0.3s ease 0s;
    color: #ffffff;
}

#InstagramA, #DiscordA {
    transition: all .25s ease-in-out;
    color: #a3a3a3;;
    text-decoration: none;
}

#InstagramA:hover, #DiscordA:hover {
    transition: all .25s ease-in-out;
    color: #fff;
    text-decoration: underline;
}

@media only screen and (min-width: 768px) {
    .Logo {
        font-size: 48px;
        margin-right: auto;
    }  
    h1 {
        font-size: 64px;
    }
    p {
        font-size: 24px;
    }
    li, li a, button{
      font-size: 14px;
    }
    .Intro {
        width: 75%;
    }
    .About {
        width: 50%;
    }
    .Contacts ul li {
        display: inline-block;
        margin-top: 0px;
    }
    .Disclaimer {
        width: 75%;
    }
    #Discord, #Github, #Instagram {
        font-size: 24px;
    }
    button {
        padding: 8px 16px 10px;
    }
    header {
      justify-content: flex-end;
      padding: 16px 7.5%;
    }
}

@media only screen and (min-width: 1000px) {
  .Logo {
      font-size: 48px;
      margin-right: auto;
    }  
  h1 {
      font-size: 64px;
    }
  p {
      font-size: 24px;
    }
  li, li a, button{
    font-size: 16px;
    }
  .Intro {
      width: 50%;
    }
  .About {
    width: 50%;
    }
    .Contacts {
        width: 50%;
    }
  
    .Contacts ul li {
        display: inline-block;
        margin-top: 0px;
    }
    .Disclaimer {
        width: 50%;
    }
  button {
      padding: 8px 16px 10px;
  }
  header {
    justify-content: flex-end;
    padding: 16px 7.5%;
  }
  #Discord, #Github, #Instagram {
    font-size: 24px;
  }
}